{% extends 'pages/subject/problem_master.twig' %}

{% block body %}
    <div class="jumbotron">
        <p>The experiment has concluded. Thank you for your participation.</p>
    </div>
{% endblock %}
