<!DOCTYPE html>
<html ng-app>
<head>
    <title>Experiment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/bootstrap/dist/css/bootstrap.min.css" />

    <script type="text/javascript" src="/resources/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>

