{% extends 'pages/subject/master.twig' %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h3>Experiment Survey</h3>
    </div>

    <div class="row">
        <form action="{{ currentUrl() }}" method="post">
            <div class="form-group">
                <label>How many course are you taking?</label>
                <input type="text" class="form-control" name="q1" placeholder="Course Load" value="" />
            </div>

            <div class="form-group">
                <label>What is your major?</label>
                <input type="text" class="form-control" name="q2" placeholder="Major" value="" />
            </div>

            <div class="form-group">
                <label class="question">What is your GPA?</label>
                <input type="text" class="form-control" name="q3" placeholder="GPA" value="" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Next</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}
