{% extends 'pages/subject/master.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <form action="{{ currentUrl() }}" method="post">

                {# Employment #}
                <fieldset>
                    <div class="form-group">
                        <label>On a scale from 1 to 5 with 1 bing "Hardly at all" and 5 being "very much so", answer the following</label>
                    </div>

                    <div class="form-group">
                        <label>How conscientious are you?</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_conscientiousness" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_conscientiousness" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_conscientiousness" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_conscientiousness" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_conscientiousness" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>

                    <div class="form-group">
                        <label>How often are you late turning in assignments?</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_assignment_lateness" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_assignment_lateness" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_assignment_lateness" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_assignment_lateness" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_assignment_lateness" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>

                    <div class="form-group">
                        <label>How often are you on time for appointments?</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_tardiness" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_tardiness" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_tardiness" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_tardiness" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_tardiness" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend></legend>
                    <div class="form-group">
                        <label>On a scale from 1 to 5 with 1 bing "Strongly disagree" and 5 being "Strongly agree", rate how closely you identify with the following statements:</label>
                    </div>

                    <div class="form-group">
                        <label>Unexpected things which require my time and attention always seem to occur.</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_external_distractions" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_external_distractions" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_external_distractions" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_external_distractions" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_external_distractions" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Sometimes I am not as dependable or reliable as I should be.</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_dependability" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_dependability" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_dependability" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_dependability" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_dependability" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>

                    <div class="form-group">
                        <label>I follow a schedule.</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_follow_schedule" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_follow_schedule" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_follow_schedule" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_follow_schedule" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_follow_schedule" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>
                    <div class="form-group">
                        <label>I never seem able to get organized.</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_organize" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_organize" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_organize" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_organize" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_organize" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>
                    <div class="form-group">
                        <label>I always pay attention to details.</label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_pay_attention" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_pay_attention" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_pay_attention" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_pay_attention" id="inlineRadio3" value="option4"> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rank_ability_pay_attention" id="inlineRadio3" value="option5"> 5
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Next</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
