{% extends 'pages/subject/master.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h3>Experiment Survey</h3>
        </div>

        <div class="row">
            <form action="{{ currentUrl() }}" method="post">
                <div class="form-group">
                    <label>Are you presently employed?</label>
                    <input type="text" class="form-control" name="course_work"/>
                </div>

                <div class="form-group">
                    <label>From begin date to end date, how much time (in hours) do you expect to allocate to your job?</label>
                    <input type="text" class="form-control" name="work_time" />
                </div>

                <div class="form-group">
                    <label>From begin date to end date, how many of each of the following do you have:</label>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 question">Minor assignments?</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="Assignment Deadline (mm\dd\yyyy)" name="minor_assignments[]" />
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-info add_item" href="#"><i class="fa fa-plus"></i> Add Another</a>
                    </div>
                </div>
                <div class="form-group" id="major_insert">
                </div>
            </form>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            var max_fields      = 10; //maximum input boxes allowed
            var numInputFields = 1;

            $(".add_item").click(function(e){ //on add input button click
                e.preventDefault();
                if(numInputFields < max_fields){ //max input box allowed
                    numInputFields++; //text box increment
                    $('#major_insert').append(
                        '<div class="col-xs-offset-4">' +
                            '<div class="col-xs-9" >' +
                                '<input type="text" class="form-control" placeholder="Assignment Deadline (mm\\dd\\yyyy)"  name="minor_assignments[]" /> ' +
                            '</div>' +
                            '<div class="col-xs-2" >' +
                                '<a class="btn btn-danger remove_item" href="#">' +
                                    '<i class="fa fa-minus"></i> Remove' +
                                '</a>' +
                            '</div>' +
                        '</div>'
                    );
                }
            });

            $("#major_insert").on("click", ".remove_item", function(e) {
                e.preventDefault();
                $(this).parent('div').parent('div').remove(); numInputFields--;
            })
        });
    </script>
{% endblock %}
