body{		
	text-align: left;
}

#usage {
	color :#B22222;
}

#wrapper{
	text-align:left;	
	width : 1300px;
}

#navigation{
	float:left;
	width : 150px;
	margin-right : 30px;
	text-align : center;
}

#content{
	float:left;
	width: 900px;
	margin: 1em auto;
}

#rightContent{
	float:left;
	max-width: 200px;
}

hr{
	background:#66A3D3;
	margin: 0px 30px 0px 30px
}

fieldset{
	background:#F4F9FE;	
	border-style: solid;
	border-width: thin;
	border-color:#66a3d3;
	color:#66A3D3;
	text-align: left;
	margin: 1em;	
}

fieldset #textFile p{
	color : #000000;
}

#error {
	color : #FF0000;
}

#notify {
	color :#000000;
}

#heading{
	width: 900px;	
	border-bottom:1px solid #e5eff8;	
	color:#66A3D3;
	text-align: center;
}

#navigation ul {
	list-style-type: none;
	padding: 0;
}

#navigation ul li a{
	color: #000;
	display: block;	
	margin: 0.5em;
	padding: 1em 0 1em 0;
	border:0.5px solid #e5eff8;
	background-color: #F4F9FE;
	text-decoration: none;
}

#navigation ul li a:hover {
	text-decoration: none;
	background-color: #cde5fd;	
}
