body{
    font: 20px Arial,Helvetica,sans-serif;
    background: #FFFFFF;
}

h2{
	font-size: 30px;
    color:#665874;
}

img#login_img{
    padding-bottom: 20px;
}


.submit_button {
    margin-top: 20px;
    color: #FFFFFF;
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
}
.submit_button:hover {
    background: #45556D;
}

div#login_border{
	color: #3d3d3d;
	border-radius: 10px;
    background:none repeat scroll 0 0 #eaeaea;
    border:1px solid #C3C3C3;
    font-size:15px;
    margin-bottom:40px;
    margin-right:180px;
    padding: 20px 40px 40px 40px; 
    width:490px;
    -moz-box-shadow:1px 1px 5px #CCCCCC, -1px -1px 5px #CCCCCC !important;
    position: relative;
    left: 50%;
    -moz-box-shadow: 5px 5px 5px #ccc;
  	-webkit-box-shadow: 5px 5px 5px #ccc;
  	box-shadow: 5px 5px 5px #ccc;
}

.text_field {
    background:none repeat scroll 0 0 #ffffff;
    border:1px solid #C3C3C3;
    padding:10px 5px;
    width:450px;
    font-weight: bold;
    font: 20px Arial,Helvetica,sans-serif;
}

.text_label{
	color: #3d3d3d;
    font-weight:bold;
    font: 18px Arial,Helvetica,sans-serif;
}

td.error{
    padding-bottom: 10px;
    padding-right: 25px;
    text-align: right;
    color: #FF4F4F;
}

label#error{
    padding-bottom: 10px;
    padding-right: 25px;
    text-align: right;
    color: #FF4F4F;
}

#content {
position: absolute;
right: 50%;
top: 10%;
}

input#button{
    font-size: large;
	color: #3d3d3d;
    margin: 20px 0 0 0;
}
