@CHARSET "UTF-8";

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: #FFFFFF;
}

#parent_container{
    float: left;
}

#heading h2{
	margin-bottom: 40px;
	font-size: 30px;
}

#navigation{
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

#navigation ul{
    width: 75%;
    margin-left:70px;
	padding : 0 10px;	
	/*text-align: center;*/
	list-style-type: none;
}


#navigation ul li{
	display: inline;
}

p {
    font-size: 14px;
}
p.indent{
    margin-left: 40px;
}

p.indent span{
    text-decoration: underline;
    margin-right: 10px;
}


#navigation ul li a{
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	color: #484848;
	display: block;	
	width: 260px;
    margin-right: 20px;
	padding: 10px 0 10px 0;
	border:1px solid #D3D3D3;
    background: url("http://localhost/procrastination/resources/img/button_background.png") repeat-x scroll 50% 50% #CCCCCC;
	text-decoration: none;
	text-align: center;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

img{
    vertical-align: middle;
    margin-right: 20px;
}

#navigation ul li a:hover {
    background: url("http://localhost/procrastination/resources/img/button_background_hover.png") repeat-x scroll 50% 50% #CCCCCC;
	text-decoration: none;
	
}

.error{
    color: #ff5757;
    padding-left: 20px;
}

input.text_field{
    margin-right: 20px;
	border-color: #989898;
    border:1px solid #C3C3C3;
    background:none repeat scroll 0 0 #ffffff;
    text-align: center;
    font-size: 14px;
}

div #entry{
    margin-left: 40px;
    margin-top: 20px;
    width: 100%;
}

label.question{
float:left;
margin-right: auto;
width:100%;
}

div#heading{
	color: #3d3d3d;
	text-align: Left;	
    font-size:20px;
    margin-bottom: 10px;
}

div#content{
    float: left;
	border-radius: 10px;
    background:none repeat scroll 0 0 #eaeaea;
	border:1px solid #D3D3D3;
    font-size:14px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 20px 50px 40px 50px; 
    -moz-box-shadow: 5px 5px 5px #ccc;
  	-webkit-box-shadow: 5px 5px 5px #ccc;
  	box-shadow: 5px 5px 5px #ccc;
	color: #3d3d3d;
    border-radius: 10px;
    width: 850px;
}

div.question{
	margin-bottom: 30px;
    height: auto;
    float:left;
    margin-right:auto;
    margin-left: auto;
    width: 100%;
}

input.button{
    font-size: 16px;
	color: #3d3d3d;
    margin: 30px 0 0 0;
}


.footer{
    clear: both;
}
