{% extends 'pages/subject/master.twig' %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Oops!</h1>
            <h3>The page you are looking for doesn't exist, or is no longer available to you at this point in the experiment.</h3>
        </div>
    </div>
{% endblock %}
